{{ define "head" }}
<meta name="description" content="{{ .Summary }}">
{{ end }}

{{ define "main" }}
<article>
    <section class="header">
        <section class="title-area">
            <h1 class="title"><a href="{{ .RelPermalink }}/">{{ .Title }}</a></h1>
            {{ .Render "categories" }}
        </section>
        <section class="meta-area">
            {{ if .Date }}
            <time>{{ .Date | time.Format ":date_medium" }}</time>
            {{ end }}
            <span class="delimiter"></span>
            {{ .Render "tag" }}
        </section>
    </section>
    {{ $pages :=  (where .Site.RegularPages "Type" "in" site.Params.mainSections)}}
    {{ range $pages.GroupByDate "2006" }}
    <section class="main">
        <h3>{{ .Key }}</h3>
        <ul class="archive-list">
            {{ range .Pages }}
                <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
</article>
{{end}}

{{ define "aside" }}
{{- partial "suggestion-reading.html" . -}}
{{ end }}
