{{ define "head" }}
<meta name="description" content="{{ .Summary }}">
{{ end }}

{{ define "main" }}
<article data-clarity-region="article">
    {{ .Render "post-header" }}
    <section class="main">
        {{- partial "expire-warning.html" . -}}
        {{ .Content }}
    </section>
    <section class="post-footer">
        {{- partial "prev-next-page.html" . -}}
        {{ .Render "tags-list" }}
    </section>
    {{- if .Site.Params.Giscus.Repo }}
    <section class="comments">
        {{- partial "giscus.html" . -}}
    </section>
    {{- end }}
</article>
{{end}}

{{ define "aside" }}
{{- partial "suggestion-reading.html" . -}}
<div class="affix">
<section class="toc">
    <h3 class="title">{{ i18n "toc" }}</h3>
    {{ .TableOfContents }}
</section>

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{- if $related }}
<section>
    <h3>{{ i18n "related-post" }}</h3>
    {{ with $related }}
    <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</section>
</div>
{{- end }}
{{ end }}
