{{ define "main" }}
{{ $name := .Data.Plural }}
<article>
{{ if eq .Kind "term" }}
        {{ .Render "post-header" }}
        {{ if .Content }}
        <section class="main">
            {{.Content}}
        </section>
        {{ end }}
        <section class="post-list">
            <ul>
                {{ range .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                {{ end }}
            </ul>
        </section>
   
{{ else }}
{{ .Render "post-header" }}
{{ range $key,$value := .Data.Terms }}
<section class="taxonomy-list">
    <h3 class="title"><a href="{{ relLangURL (printf "/%s/%s" $name $key | lower | urlize) }}">{{ $key | humanize }}</a></h3>
    <ul class="post-list">
        {{ range $value.Pages | first 5 }}
            <li><a href="{{ .Permalink}}">{{ .LinkTitle }}</a></li>
        {{ end }}
    </ul>
    <a class="more" href="{{ relLangURL (printf "/%s/%s" $name $key | lower | urlize) }}">More >></a>
</section>
{{ end }}
{{ end }}
</article>
{{ end }}

{{define "aside"}}
{{- partial "suggestion-reading.html" . -}}
{{ end }}