<!DOCTYPE html>
<html>
    <head>
    {{- partial "head.html" . -}}
    {{- block "head" . }}{{- end }}
    {{- partial "microsoft-clarity.html" . -}}
    </head>
    <body>
        {{- partial "header.html" . -}}
        <div class="content">
            <main>
            {{- block "main" . }}{{- end }}
            </main>
            <aside>
            {{- block "aside" . }}{{- end }}
            </aside>
        </div>
        {{- partial "footer.html" . -}}
    </body>
    {{- partial "busuanzi.html" . -}}
    {{- partial "baidu-analytics.html" . -}}
    {{- partial "google-analytics.html" . -}}
</html>
