<li>
    <article>
        <section class="header">
            <section class="title-area">
                <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                {{ .Render "categories" }}
            </section>
            <section class="meta-area">
                {{ if .Date }}
                <time>{{ .Date | time.Format ":date_medium" }}</time>
                {{ end }}
                <span class="delimiter"></span>
                {{ .Render "tag" }}
            </section>
        </section>
        <section class="main">
            {{ .Summary }}
            <a class="-mx-1 font-medium" href="{{ .RelPermalink }}">Read more →</a>
        </section>
        
    </article>
</li>