{{ define "head" }}
{{ end }}

{{ define "main" }}
    <ul class="divide-y divide-indigo-400">
    {{ if eq .Kind "home" -}}
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ else }}
      {{ $paginator := .Paginate .Site.RegularPages }}
    {{ end }}
    {{ range .Paginator.Pages }}
      {{ .Render "li"}}
    {{ end }}
    </ul>   
    {{- partial "pagination.html" . -}}
{{end}}

{{define "aside"}}
{{- partial "suggestion-reading.html" . -}}
{{ end }}