{{ define "head" }}
    <meta name="description" content="{{ .Summary }}">
{{ end }}

{{ define "main" }}
<article>
    <header>
    <section class="title-area">
        <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        {{ .Render "categories" }}
    </section>
    <section class="meta-area">
        {{ if .Date }}
        <time>{{ .Date | time.Format ":date_medium" }}</time>
        {{ end }}
        <span class="delimiter"></span>
        {{ .Render "tag" }}
    </section>
    <main class="heti">
    {{ .Content }}
    </main>
    {{/*  <aside>
        <section>
            <h3>TOC</h3>
            {{ .TableOfContents }}
        </section>
        <section>
            <h3>See Also</h3>
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
        </section>
    </aside>  */}}
    <footer>
    {{- partial "giscus.html" . -}}
    </footer>
</article>
{{ end }}