{{ define "main" }}
{{ $name := .Data.Plural }}
{{ if eq .Kind "term" }}
    <h1 class="pb-4 title">{{ .Data.Singular | humanize }}: {{ .Page.Name }}</h1>
    <ul>
    {{ range .Paginator.Pages }}
        {{ .Render "li"}}
    {{ end }}
    </ul>
{{ else }}
<ul>
    {{ .Page.Name }}
    {{ range .Data.Terms.ByCount }}
    <li><a href="/{{ $name }}/{{ .Name }}">{{ .Name | humanize }} {{.Count}}</a></li>
    {{ end }}
</ul>
{{ end }}
{{ end }}

{{define "aside"}}
{{- partial "suggestion-reading.html" . -}}
{{ end }}