@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";
@import "node_modules/heti/lib/heti";

.title-area {
    @apply flex justify-between items-end mb-2 pt-2;

    .title {
        @apply text-4xl font-semibold pb-0 mb-0;
    }

    .catetories {
        @apply text-sm m-0 px-2 rounded-full bg-indigo-200;
    }

}

.meta-area {
    @apply flex flex-row items-center gap-2;

    .tag {
        @apply text-sm m-0 px-2 rounded-full bg-indigo-100;
    }   

    .delimiter {
        @apply flex-1;
    }

    time {
        @apply text-sm justify-start;
    }
}


// #TableOfContents {
//     // @apply pl-2;

//     // ul {
//     //     @apply list-outside list-disc pl-2;
//     // }
// }

aside {
    h3 {
        @apply text-xl font-semibold pb-2;
    }
    ul {
        @apply list-outside list-disc pl-4;
    }
}

body::-webkit-scrollbar {
    @apply w-1 bg-gray-100;
}

body::-webkit-scrollbar-thumb {
    @apply w-1 bg-gray-400 rounded-sm shadow
}

body {
    font-family: 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Arial', 'San Francisco';
    @apply flex flex-col overscroll-y-none relative items-center justify-around min-w-min bg-gray-100 gap-8;




    .content {
        @apply max-w-6xl flex flex-row mt-24 sm:flex-col gap-4 sm:px-2 px-4 w-full;

        main {
            @apply flex flex-col w-9/12 sm:w-full;
        }
    
        aside {
            @apply flex flex-col w-3/12 sm:w-full gap-4;

            section {
                @apply rounded-lg shadow-md bg-white p-4;
            }
        }
    }
    
    

    .navbar {
        @apply flex fixed top-0 z-50 max-h-fit w-full justify-center place-items-center bg-white py-4 shadow-lg px-4;
    
        .items {
            @apply flex flex-row items-center max-w-6xl w-full justify-between space-x-4 max-h-fit;
            li {
                .site-link {
                @apply flex flex-row items-center gap-4 justify-center;
                }

                .site-name {
                    @apply text-lg;
                }
            }
            

            .delimiter {
                @apply grow;
            }
    
            .avatar {
                @apply h-10 w-10 rounded-lg;
            }
        }
    }
    

    .footer {
        @apply flex flex-col w-full space-y-2 justify-center items-center pb-4 px-4;
    
        .content {
            @apply flex flex-row sm:flex-col sm:w-full sm:h-full sm:space-x-4 max-w-6xl w-full justify-between sm:items-center space-x-4;
    
            // .item {
            //     @apply flex;
            // }
            .item {
                @apply flex sm:h-full flex-row space-x-4 justify-center items-center;
    
                .avatar {
                    @apply flex-auto rounded-xl h-32 w-32;
                }
    
                .links {
                    @apply flex flex-col h-full leading-4 justify-around space-y-4;
    
                    a {
                        @apply flex flex-row gap-2 justify-start items-center text-center text-sm h-4 leading-4;
    
                        img {
                            @apply h-4 w-4
                        }
                    }
    
                }
            }
        }
    
        .powered-by {
            @apply text-sm text-gray-700;
        }
    
        .icp {
            @apply flex flex-row h-4 items-center space-x-4 text-sm text-gray-600;

            img {
                @apply h-4 w-4;
            }
        }
    }
}

code {
    font-family: monospace, 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft Yahei', 'Arial', 'San Francisco';
}

main {
    ul {
        @apply flex flex-col gap-4;
    }
}

article  {
    @apply flex flex-col gap-4 w-full p-4 rounded-lg shadow-md bg-white divide-y divide-dashed;

    hr {
        width: '40%';
        height: 2px;
        @apply bg-indigo-200 my-2;
    }

    .comments {
        @apply pt-4;
    }

    .main {
        @apply text-gray-800 heti max-w-full w-full min-w-full py-2;
        .warning {
            @apply border-yellow-400 border-l-4 px-4 py-2 bg-yellow-200 font-medium italic text-yellow-900;
        }

        hr {
            width: '40%';
            height: 2px;
            @apply bg-indigo-200 my-2;
        }

        // p {
        //     @apply py-2 text-base;
        // }

        // ul li {
        //     @apply ml-8 list-disc list-outside;
        // }

        // ol li {
        //     @apply ml-8 list-decimal list-outside;
        // }

        // @for $i from 1 through 6 {
        //     h#{7 - $i} {
        //         font-size: ($i+3)/4 * 0.75rem;
        //         line-height: ($i+3)/4 * 0.75rem;
        //         padding-top: ($i+3)/4* 0.75rem;
        //         padding-bottom: ($i+3)/4* 0.5rem;
        //         @apply text-black;
        //     }
        // }

        // em {
        //     @apply italic;
        // }

        // strong {
        //     @apply font-bold
        // }

        // del {
        //     @apply line-through
        // }

        blockquote {
            @apply mx-0 px-4 bg-indigo-100 border-l-4 border-indigo-200 italic font-medium
        }

        pre {
            font-family: 'Jetbrains Mono';
            background-color: #272822;
            @apply px-4 py-2 my-2 text-white rounded-xl overflow-x-auto overflow-y-hidden
        }

        // a {
        //     @apply text-indigo-700 hover:underline hover:text-indigo-900 italic px-1
        // }

        // section.footnotes {
        //     hr {
        //         hidden: true;
        //     }
        //     ol {
        //         @apply mt-1 py-2 text-sm  text-indigo-400  bg-indigo-50 rounded-xl;
        //         p {
        //             @apply text-sm py-0;
        //         }
        //         a.footnote-backref {
        //             @apply text-sm text-indigo-400;
        //         }
        //     }
        // }
    }
}

.pagination {
    width: 100%;
    @apply flex flex-row justify-between max-w-6xl my-4;

    .item {
        @apply flex flex-row content-center min-w-fit;


        a {
            min-width: 4rem;
        }

        .item--next {}

        .item--prev {}

        .hide {
            @apply sm:hidden;
        }
    }
}

.button {
    @apply text-gray-700 hover:bg-gray-700 hover:text-white px-2 py-2 rounded-md text-sm font-medium text-center;

    .disabled {
        @apply hover:text-gray-700 hover:bg-transparent;
    }
}