<footer class="footer">
  <div class="content">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item profile">
      <img class="avatar" src="/img/avatar.png" />
      <ul class="links">
        <li>
          <a href="https://github.com/eindex" rel="noreferrer" target="_blank"
            ><img src="/img/github.svg" /> <span>Github</span>
          </a>
        </li>
        <li>
          <a href="mailto:eindex.me@outlook.com" target="_blank"
            ><img src="/img/icon-mail.svg" />
            <span>Email</span>
          </a>
          </li>
          <li>
          <a href="/feed.xml" target="_blank"
            ><img src="/img/rss.svg" />
            <span>RSS</span>
          </a>
          </li>
      </ul>
    </div>
  </div>
  <a
    class="powered-by"
    href="https://github.com/EINDEX/qing-zhuo"
    target="_blank"
    >Powered By QingZhuo
  </a>
  {{- partial "icp-footer.html" . -}}
</footer>
