<footer class="footer">
  <div class="content">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item profile">
      {{ $avatar := resources.Get "images/avatar.png" }}
      <img class="avatar" src="{{ $avatar.RelPermalink }}" />
      <ul class="links">
        {{ range .Site.Params.socialaccount }}
        <li>
          {{ $imgurl := printf "images/%s.svg" .type }}
          {{ $img := resources.Get $imgurl }}
          <a href="{{ .link }}" rel="noreferrer" target="_blank"
            ><img src="{{ $img.RelPermalink }}" /> <span>{{ .type | humanize }}</span>
          </a>
        </li>
        {{ end }}
          <li>
          {{ $rssimg := resources.Get "images/rss.svg" }}
          {{ $rss_link := .Site.GetPage "{{ .Site.OutputFormats.RSS.baseName }}.xml" }}
          <a href="{{ printf "%sfeed.xml" .Site.BaseURL }}" target="_blank"
            ><img src="{{ $rssimg.RelPermalink }}" />
            <span>RSS</span>
          </a>
          </li>
      </ul>
    </div>
  </div>
  <a
    class="powered-by"
    href="https://github.com/EINDEX/qingzhuo"
    target="_blank"
    >Powered By QingZhuo
  </a>
  {{- partial "icp-footer.html" . -}}
</footer>
