<nav class="navbar">
    <ul class="items">
      <li>
        <a class="site-link" href="/"
          ><img
            class="avatar"
            src="/img/avatar.png"
            alt="Workflow"
        /><span class="site-name">{{ .Site.Title }}</span></a>
      </li>
      {{ range (where .Site.Menus.navbar.ByWeight "Weight" "ge" 0) }}
      <li class="button">
        <a
          href="{{ .URL }}"
          >{{ .Name }}</a
        >
      </li>
      {{ end }}
      <li class="delimiter"/>
      {{ range (where .Site.Menus.navbar.ByWeight "Weight" "lt" 0) }}
      <li class="button">
        <a
          href="{{ .URL }}"
          >{{ .Name }}</a
        >
      </li>
      {{ end }}
    </ul>
</nav>

