<nav class="navbar">
    <ul class="items">
      <li>
        {{ $avatar := resources.Get "images/avatar.png" }}
        <a class="site-link" href="{{ .Site.BaseURL }}"><img
            class="avatar"
            src="{{ $avatar.RelPermalink }}"
            alt="Workflow"
        /><span class="site-name">{{ .Site.Title }}</span></a>
      </li>
      <li class="delimiter"></li>
      {{ range .Site.Menus.navbar }}
      <li class="button">
        <a
          href="{{ absLangURL .URL }}"
          >{{.Pre}} {{ i18n .Identifier . }} {{.Post}}</a
        >
      </li>
      {{ end }}
    </ul>
</nav>

