{{ define "main" }}
<main class="max-w-3xl mx-auto px-4 h-auto">
    <ul class="divide-y divide-gray-200">
              
    <!-- Ranges through content/posts/*.md -->
    {{ range (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        <li>
          <article class="py-0">
            <main>
              <h1 class="py-2">{{ .Title }}</h1>
              <p>{{ .Summary }}</p>
              <a class="-mx-1 font-medium" href="{{ .RelPermalink }}">Read more →</a>
            </main>
          </article>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}